{% for section in sections %}
    <section class="plb-homepage__section">
        <h2 class="plb-homepage__title">{{ section.title }}</h2>
        <p class="plb-homepage__description">{{ section.description }}</p>
        <div class="plb-homepage__items">
            {% for item in section.items %}
                <div class="plb-homepage__item"
                     style="grid-column: span {{ item.grid_cols|default(1) }}; grid-row: span {{ item.grid_rows|default(1) }}">
                    <div class="plb-homepage__item-render">
                        {% if item.config.config.renderer.type == 'twig' %}
                            {% set options = item.config.config.renderer.options %}
                            {{ include(options.template, options.preview_parameters|first, with_context = false) }}
                        {% endif %}
                    </div>
                    <a class="plb-homepage__item-link" href="{{ item.config.slug }}">
                        {{ item.config.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endfor %}
