{% set tag = tag|default('div') %}

<{{ tag }} class="plb-accordion-item{{ modifier|default(null) }}{% if class_name|default %} {{ class_name }}{% endif %}"{% if finder_value|default %} data-finder="{{ finder_value }}{% endif %}">
    <div class="plb-accordion-item__header">
        {{- header|raw -}}
    </div>
    {% if content is not empty %}
        <div class="plb-accordion-item__content">
            {{- content|raw -}}
        </div>
    {% endif %}
</{{ tag }}>
