{##
    PROPERTY                REQUIRED
    =================================

    breadcrumbs             required
    items *                 required

    * each item must be like
        {
            description,
            twig,
            preview_parameters **
        }

        ** each preview_parameter must be like
            {
                params
            }
#}

<article class="article">
    <p class="article__breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            {{ breadcrumb }}
            <span class="article__breadcrumbs-separator">/</span>
        {% else %}
    </p>
            <h1 class="article__title">{{ breadcrumb|replace({'-': ' '}) }}</h1>
        {% endif %}
    {% endfor %}

    <div class="article__description">
        {{ item.description|raw }}
    </div>

    {% for params in item.preview_parameters %}
        {% set item_preview = include(item.twig, params) %}
        {% set item_twig %}
            {{ '<pre><code class="language-twig">' -}}

            {{- '{% include "' ~ item.twig ~ '" with {' }}
{# This block must be with no indentation #}
{% for key, value in params %}
    {{ key }}: '{{ value }}'{% if not loop.last %},{% endif %}<br/>
{% endfor %}
{# This block must be with no indentation #}
            {{- '} %}' -}}

            {{- '</code></pre>' -}}
        {% endset %}

        {% set item_html = '<pre><code class="language-html">' ~ item_preview|nl2br ~ '</code></pre>' %}

        {% include '@lin3s_pattern_library_builder/components/tabbed.html.twig' with {
            tabs: [{
                content: item_preview,
                title: 'Preview'
            }, {
                content: item_twig,
                title: 'Twig'
            }, {
                content: item_html,
                title: 'Html'
            }]
        } %}
    {% endfor %}
</article>
