{% macro accordion_menu(children, breadcrumbs) %}
    {% import _self as macros %}

    {% set items = [] %}
    {% for item in children %}

        {% set item_class_name = null %}
        {% set item_title = item.title|replace({'-': ' '}) %}

        {% set modifiers = [] %}
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb == item.title %}
                {% set modifiers = ['opened'] %}
            {% endif %}
        {% endfor %}

        {% if item.children is not empty %}
            {% set accordion_item_title %}
                {{ item_title }}
                {% include '@lin3s_pattern_library_builder/svg/icon_plus.svg.twig' %}
            {% endset %}
            {% set accordion_item_content = macros.accordion_menu(item.children, breadcrumbs) %}
        {% else %}
            {% set accordion_item_title %}
                {% embed '@lin3s_pattern_library_builder/components/link.html.twig' with {
                    url: item.slug,
                    target: '_self'
                } %}
                    {%- block link_content -%}
                        {% include '@lin3s_pattern_library_builder/components/status.html.twig' with {
                            level: item.status,
                            tag: 'span'
                        } %}
                        {{ item_title }}
                    {%- endblock -%}
                {% endembed %}
            {% endset %}

            {% set modifiers = modifiers|merge(['leaf']) %}
            {% set item_class_name = 'finder__subject' %}
        {% endif %}

        {% set items = items|merge([{
            header: accordion_item_title,
            content: accordion_item_content,
            modifiers: modifiers,
            class_name: item_class_name,
            finder_value: item_title
        }]) %}
    {% endfor %}

    {% include '@lin3s_pattern_library_builder/components/accordion.html.twig' with {
        items: items,
        modifier: modifier
    } %}
{% endmacro %}

<aside class="aside">
    <div class="aside__header">
        {% block logo %}{% endblock %}
        <p>{{ title }}</p>
        <p>{{ description }}</p>
    </div>
    <div class="aside__content">
        {% embed '@lin3s_pattern_library_builder/layouts/finder.html.twig' with {
            finder_id: 'styleguide-finder',
            finder_placeholder: 'type to filter by name...',
            finder_label_title: 'Search'
        } %}
            {% block finder_subjects %}
                {% import '@lin3s_pattern_library_builder/layouts/aside.html.twig' as aside %}
                {{ aside.accordion_menu(menu, breadcrumbs) }}
            {% endblock %}
        {% endembed %}
    </div>
</aside>
