{% macro accordion_menu(children, pages, breadcrumbs) %}
    {% import _self as macros %}

    {% set items = [] %}
    {% for item in children %}
        {% set item_title = item.title|replace({'-': ' '}) %}
        {% set accordion_item_title %}
            {{ item_title }}
            {% include '@Lin3sPatternLibraryBuilder/svg/icon_plus.svg.twig' %}
        {% endset %}

        {% set modifiers = [] %}
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb == item.title %}
                {% set modifiers = ['opened'] %}
            {% endif %}
        {% endfor %}

        {% set items = items|merge([{
            header: accordion_item_title,
            content: macros.accordion_menu(item.children, item.pages, breadcrumbs),
            modifiers: modifiers,
            class_name: null,
            finder_value: item_title
        }]) %}
    {% endfor %}

    {% for item in pages %}
        {% set item_title = item.title|replace({'-': ' '}) %}
        {% set accordion_item_title %}
            {% embed '@Lin3sPatternLibraryBuilder/components/link.html.twig' with {
                url: '/design-system/' ~ item.slug,
                target: '_self'
            } %}
                {%- block link_content -%}
                    {% include '@Lin3sPatternLibraryBuilder/components/status.html.twig' with {
                        level: item.status|default(''),
                        tag: 'span'
                    } %}
                    {{ item.title }}
                {%- endblock -%}
            {% endembed %}
        {% endset %}

        {% set modifiers = [] %}
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb == item.title %}
                {% set modifiers = ['opened'] %}
            {% endif %}
        {% endfor %}

        {% set items = items|merge([{
            header: accordion_item_title,
            content: null,
            modifiers:  modifiers|merge(['leaf']) ,
            class_name: 'plb-finder__subject',
            finder_value: item_title
        }]) %}
    {% endfor %}

    {% include '@Lin3sPatternLibraryBuilder/components/accordion.html.twig' with {
        items: items,
        modifier: modifier|default
    } %}

{% endmacro %}

<aside class="plb-aside">
    <div class="plb-aside__header">
        {% block logo %}{% endblock %}
        <p>{{ title }}</p>
        <p>{{ description }}</p>
    </div>
    <div class="plb-aside__content">
        {% embed '@Lin3sPatternLibraryBuilder/layouts/finder.html.twig' with {
            finder_id: 'styleguide-finder',
            finder_placeholder: 'type to filter by name...',
            finder_label_title: 'Search'
        } %}
            {% block finder_subjects %}
                {% import '@Lin3sPatternLibraryBuilder/layouts/aside.html.twig' as aside %}
                {{ aside.accordion_menu(menu.children, menu.pages, breadcrumbs) }}
            {% endblock %}
        {% endembed %}
    </div>
</aside>
