{#
    --------------------------------------------------------------------------------------------
    SECTION TWO COLUMNS LAYOUT
    --------------------------------------------------------------------------------------------

    This is a two columns section layout.


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    layout_modifier
    modifiers (array)


    EMBED
    ============================================================================================

    left_column_content
    left_column_background
    right_column_content
    right_column_background
#}

{% set layout_modifier = layout_modifier is not empty ? ' section--two-columns-' ~ layout_modifier : null %}

{% set left_content %}
    {% block left_column_content %}{% endblock %}
{% endset %}

{% set left_background %}
    {% block left_column_background %}{% endblock %}
{% endset %}

{% set right_content %}
    {% block right_column_content %}{% endblock %}
{% endset %}

{% set right_background %}
    {% block right_column_background %}{% endblock %}
{% endset %}

<section class="section section--two-columns{{ modifiers_implode('section', modifiers) }}{{ layout_modifier }}">
    <div class="section__column section__column--left">
        {% if left_background is not empty %}
            <div class="section__column-background">
                {{- left_background -}}
            </div>
        {% endif %}
        {% if left_content is not empty %}
            <div class="section__column-content">
                {{- left_content -}}
            </div>
        {% endif %}
    </div>
    <div class="section__column section__column--right">
        {% if right_background is not empty %}
            <div class="section__column-background">
                {{- right_background -}}
            </div>
        {% endif %}
        {% if right_content is not empty %}
            <div class="section__column-content">
                {{- right_content -}}
            </div>
        {% endif %}
    </div>
</section>
