<!DOCTYPE html>

{% spaceless %}

<html lang="{{ app.request.locale|default('en') }}">

{% block head %}
    <head>
        <meta charset="{{ _charset }}">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{%- block title -%}{{ title }}{%- endblock -%}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head_styles %}
            <link rel="stylesheet" href="{{ assets_path ~ '/patternlibrary.css' }}"/>
            {% include '@lin3s_pattern_library_builder/partials/stylesheets.html.twig' %}
        {% endblock %}
        <style>{{ theme_styles }}</style>
    </head>
{% endblock %}

<body class="body">
{% block body %}
    {% block header %}{% endblock %}

    {% set styleguide_content %}
        {%- block styleguide_content -%}{%- endblock -%}
    {% endset %}

    {% block content %}
        {% embed '@lin3s_pattern_library_builder/layouts/main.html.twig' %}
            {% block aside %}
                {% include '@lin3s_pattern_library_builder/layouts/aside.html.twig' with {
                    menu: menu,
                    breadcrumbs: breadcrumbs
                } %}
            {% endblock %}

            {% block article %}
                {% embed '@lin3s_pattern_library_builder/layouts/article.html.twig' with {
                    items: items|default([]),
                    breadcrumbs: breadcrumbs
                } %}
                    {% block article_content %}
                        {{ styleguide_content }}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block body_end_before_js %}{% endblock %}

{% block foot_script %}
    <script src="{{ assets_path ~ '/patternlibrary.js' }}"></script>
    {% include '@lin3s_pattern_library_builder/partials/javascripts.html.twig' %}
{% endblock %}

{% endblock %}
</body>
</html>

{% endspaceless %}
