<!DOCTYPE html>

{% spaceless %}

<html lang="{{ app.request.locale|default('en') }}">

{% block head %}
<head>
    <meta charset="{{ _charset }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{%- block title -%}{{ title }}{%- endblock -%}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head_styles %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ assets_path ~ '/patternlibrary.css' }}"/>
    {% endblock %}
    <style>
        /*.accordion-item {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item:hover {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item.accordion-item--opened {*/
            /*background-color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item__header {*/
             /*border-color: #fff;*/
         /*}*/
        /*.accordion-item .link {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item .link:hover {*/
            /*color: #fff;*/
        /*}*/

        /*.accordion-item .accordion-item {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item:hover {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item.accordion-item--opened {*/
            /*background-color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item .accordion-item__header {*/
            /*border-color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item .link {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item .accordion-item .link:hover {*/
            /*color: #fff;*/
        /*}*/

        /*.accordion-item--leaf .accordion-item {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item--leaf .accordion-item:hover {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item--leaf .accordion-item.accordion-item--opened {*/
            /*background-color: #fff;*/
        /*}*/
        /*.accordion-item--leaf .accordion-item .accordion-item__header {*/
            /*border-color: #fff;*/
        /*}*/
        /*.accordion-item--leaf .accordion-item .link {*/
            /*color: #fff;*/
        /*}*/
        /*.accordion-item--leaf .accordion-item .link:hover {*/
            /*color: #fff;*/
        /*}*/

        /*.tabbed__nav-item::after {*/
            /*background-color: #fff;*/
        /*}*/
        /*.main__aside {*/
            /*background-color: #fff;*/
        /*}*/
        /*.main__article {*/
            /*background-color: #fff;*/
        /*}*/
        /*.icon-plus {*/
            /*fill: '';*/
        /*}*/
    </style>
</head>
{% endblock %}

<body class="body">
{% block body %}
    {% block header %}{% endblock %}

    {% block content %}
        {% embed '@lin3s_pattern_library_builder/layouts/main.html.twig' %}
            {% block aside %}
                {% include '@lin3s_pattern_library_builder/layouts/aside.html.twig' with {
                    menu: menu,
                    breadcrumbs: breadcrumbs
                } %}
            {% endblock %}

            {% block article %}
                {% include '@lin3s_pattern_library_builder/layouts/article.html.twig' with {
                    items: items,
                    breadcrumbs: breadcrumbs
                } %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block body_end_before_js %}{% endblock %}

    {% block foot_script %}
        <script src="{{ assets_path ~ '/patternlibrary.js' }}"></script>
    {% endblock %}

{% endblock %}
</body>
</html>

{% endspaceless %}
