<!DOCTYPE html>

{% spaceless %}

<html lang="{{ app.request.locale|default('en') }}">

{% block head %}
    <head>
        <meta charset="{{ _charset }}">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{%- block title -%}{{ theme.title }}{%- endblock -%}</title>
        <meta name="description" content="{{ theme.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block pattern_library_styles %}
            <link rel="stylesheet" href="{{ assets_path ~ '/patternlibrary.css' }}"/>
            {% include '@Lin3sPatternLibraryBuilder/partials/custom_styles.html.twig' with theme.customStyles %}
        {% endblock %}

        {% block app_styles %}
            {% for stylesheet in theme.stylesheets %}
                <link rel="stylesheet" href="{{ stylesheet }}"/>
            {% endfor %}
        {% endblock %}

    </head>
{% endblock %}

<body class="body">
{% block body %}
    {% block header %}{% endblock %}

    {% set styleguide_content %}
        {%- block styleguide_content -%}{%- endblock -%}
    {% endset %}

    {% block content %}
        {% embed '@Lin3sPatternLibraryBuilder/layouts/main.html.twig' %}
            {% block aside %}
                {% include '@Lin3sPatternLibraryBuilder/layouts/aside.html.twig' with {
                    menu: menu,
                    breadcrumbs: breadcrumbs
                } %}
            {% endblock %}

            {% block article %}
                {% embed '@Lin3sPatternLibraryBuilder/layouts/article.html.twig' with {
                    breadcrumbs: breadcrumbs
                } %}
                    {% block article_content %}
                        {{ content|raw }}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block pattern_library_scripts %}
        <script src="{{ assets_path ~ '/patternlibrary.js' }}"></script>
    {% endblock %}

    {% block app_scripts %}
        {% for javascript in theme.javascripts %}
            <script src="{{ javascript }}"></script>
        {% endfor %}
    {% endblock %}
{% endblock %}
</body>
</html>

{% endspaceless %}
